PORT=3000
SESSION_SECRET=your_super_secret_session_key_here
FIREBASE_DATABASE_URL=https://bode-7b8c9-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_JSON=
TELEGRAM_BOT_TOKEN=8981934351:AAGdpG7tfR5viEaX_td0WYus8mmYIImSk6M
TELEGRAM_CHAT_ID=5926610601
